.hero {
  background: linear-gradient(
      rgba(14, 22, 40, 0.85),
      rgba(14, 22, 40, 0.85)
    ),
    url("../assets/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.hero-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 24px;
  text-align: center;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero h1 span {
  color: var(--accent-green);
}

.hero p {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 18px;
  color: var(--text-muted);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-primary {
  background: var(--accent-green);
  color: #000;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: 600;
}

.btn-secondary {
  border: 1px solid var(--border-subtle);
  color: var(--text-main);
  padding: 14px 28px;
  border-radius: 8px;
}

.btn-primary:hover {
  opacity: 0.9;
  color: white;
}

.btn-secondary:hover {
  border-color: var(--accent-green);
}

/* Responsive */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 38px;
  }
}
/* =========================
   WHAT WE DO SECTION
========================= */

.what-we-do {
  padding: 120px 0;
  background: var(--bg-secondary);
}

.what-we-do h2 {
  font-size: 40px;
  margin-bottom: 12px;
}

.section-subtitle {
  max-width: 600px;
  margin: 0 auto 60px;
  color: var(--text-muted);
  font-size: 17px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-card {
  background: var(--bg-main);
  border: 1px solid var(--border-subtle);
  padding: 40px 30px;
  border-radius: 14px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.service-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: var(--accent-green);
}

.service-card p {
  font-size: 15px;
  color: var(--text-muted);
}

.service-card:hover {
  transform: translateY(-6px);
  border-color: var(--accent-green);
}

/* Responsive */
@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
